.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
    background-color: #f7cfcf;
}

.home>.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.home>.mainHeading{
    margin-top: 1rem;
    font-size: 1.5rem;
    color: rgb(255, 14, 54);
    padding-top: 11vh;
    margin-bottom: 2rem;
}
