.navbar{
    background-color: #ffffff;
    /* border-bottom: 3px solid black; */
    padding: 0rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 11vh;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: #ff9999;
}

.navbar>.logo>img{
    width: 4rem;
    cursor: pointer;
}

.navbar>.navHeading{
    font-size: 2.5rem;
    font-weight: 600;
}

.navbar>.logout{
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color:rgb(254, 38, 74);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.navbar>.logout:hover{
    background-color: #9d4444;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    color: #000;
}

@media only screen and (max-width:512px){
    .navbar>.navHeading{
        font-size: 1.5rem;
    }
}